{% extends "users/base.html" %}
{% block head_content %}
<title>Login</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col">
        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-block mt-5">Sing in!</button>

        </form>
    </div>
</div>
<p class="mt-4">
    Don't have an account yet?
    <a href="{% url 'users:signup' %}">Sign up here</a>
</p>
{% endblock %}
