{% extends "users/base.html" %}

{% block head_content %}
<title>Sing Up</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col">

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}

        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <small>{{ error }}</small>
            </div>
            {% endfor %}
            {% endif %}

            {% for field in form %}
            <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <!--{{ field.label_tag }}{% if field.field.required %}<span class="required" style="color: red;">*</span>{% endif %}-->
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% if field.errors %}
                {% for error in field.errors %}
                <small class="mt-0 text-danger">
                    {{error | escape}}
                </small>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
